<!DOCTYPE html>
<html lang="de">
    <head>
        {% block head %}
            {% block title %}{% endblock %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
            {% block css %}{% endblock %}
            {% block script %}{% endblock %}
        {% endblock %}
    </head>
    <body>	
        {% block header %}{% endblock %}
        
        {% block content %}{% endblock %}
           
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
