{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Passwort wiederherstellen - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
    {% endblock %}
{% endblock %}

{% block header %}
    <h1 class="heading">Neues Passwort anfordern:</h1>
{% endblock %}

{% block content %}
    {% if message is defined %}
        <p>{{message}}</p>
    {% endif %}
    <section id="form">
        <form action="" method="post">
            <label for="code">
                Geben Sie den Code ein:
            </label>		
            <input type="text" name="code" value="">
            <label for="password">
                Geben Sie das neue Passwort ein:
            </label>		
            <input type="password" name="password" value="">
            <input name="codesubmit" type="submit" value="Weiter">
        </form>
        <p>
            <a href="{{ app.url_generator.generate('login') }}">Zurück</a>           
        </p>        
    </section>
{% endblock %}