{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Dashboard - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </div>	<!--/.main-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-heart-empty"></span>
                <strong>Wilkommen im Adminbereich!</strong>
            </div>
            <div class="panel-body">
                <h3>Hier können Sie Benutzer und Beiträge verwalten.</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading" id="accordion">
                <span class="glyphicon glyphicon-time"></span>
                <strong>Eingeloggt seid:</strong>
            </div>
            <div class="panel-body">
                <h3>{{loggedinsince}}</h2>
            </div>
        </div>
    </div><!--/.col-->       
</div><!--/.row-->
{% endblock %}