{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Login - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
      <form action="" method="post" class="form-signin">
        <h2 class="form-signin-heading text-center">Loggen Sie sich ein:</h2>
        {% if message is defined %}
        <p>{{message}}</p>
        {% endif %}
        <label for="username" class="sr-only">Benutzername</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Benutzername" required autofocus>
        <label for="password" class="sr-only">Passwort</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Passwort" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="staylogged" value="staylogged"> Angemeldet bleiben
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="login" type="submit">Einloggen</button>
      </form>
    </div>   
{% endblock %}