{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Login - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block header %}
    <h1 class="heading">Login:</h1>
{% endblock %}

{% block content %}
    <section id='form'>
        {% if message is defined %}
            <p>{{message}}</p>
        {% endif %}
        <article>
            <form action="" method="post">
                <label for="username">
                    Benutzername:
                </label>		
                <input type="text" name="username" id="username" value="">
                <label for="password">
                    Passwort:
                </label>
                <input type="password" name="password" id="password" value="">
                <input name="login" type="submit" value="Einloggen">
                <label for="staylogged">Angemeldet bleiben</label>
                <input  name="staylogged" id="staylogged" type="checkbox" value="staylogged">
            </form>
            <p>
                <a href="{{ app.url_generator.generate('reset') }}">Passwort vergessen?</a>
            </p>
        </article>
    </section>
{% endblock %}