{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Beitrag bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
    <h1 class="text-center">Beitrag bearbeiten:</h1>
    {% if message is not defined %} 
        {% if errormessages is not defined or errormessages is null %}
        <p class="text-center">Autor:<br> {{ post.firstname }}</p>
        <p class="text-center">Beitrag:<br> {{ post.lastname }}</p>
        <p class="text-center">E-Mail:<br> {{ post.email }}</p>
        <p class="text-center">Inhalt:<br> {{ post.content }}</p>
        <br>
        {%endif%}
    {% endif %}
    {% include "guestbookform.twig" %}
{% endblock %}
