{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Passwort wiederherstellen - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    {% endblock %}
{% endblock %}

{% block header %}
    <h1>Code zusenden:</h1>
{% endblock %}

{% block content %}
    {% if message is defined %}
        <p>{{message}}</p>
    {% endif %}
    <section>
        <form action="" method="post">
            <label for="email">
                Geben Sie ihre E-Mail Adresse ein:
            </label>		
            <input type="text" name="email" value="">
            <input name="reset" type="submit" value="Versenden">
        </form>
        <p>
            <a href="{{ app.url_generator.generate('login') }}">Zurück</a>           
        </p>
    </section>
{% endblock %}