{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Profil체bersicht - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
<h2>{{ headline }}</h2>
<ul>
    <li>
        <p>
            <a href="{{ app.url_generator.generate('changeUsername') }}">Benutzernamen 채ndern</a>
        </p>
    </li>
    <li>
        <p>
            <a href="{{ app.url_generator.generate('changePassword') }}">Passwort 채ndern</a>
        </p>
    </li>
    <li>
        <p>
            <a href="{{ app.url_generator.generate('changeEmail') }}">E-Mail 채ndern</a>
        </p>                    
    </li>						
</ul>
{% endblock %}
