{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Profil체bersicht - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="active">Profil</li>
        </ol>
    </div> 
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-heart-empty"></span>
                <strong>Wilkommen auf Ihrem Profil!</strong>
            </div>
            <div class="panel-body">
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('changeUsername') }}">Benutzernamen 채ndern</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('changePassword') }}">Passwort 채ndern</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('changeEmail') }}">E-Mail 채ndern</a>
                    </p>  
                </li>
            </div>
        </div>
    </div>
</div>
{% endblock %}
