{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer hinzufügen - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block content %}
    {% include "user_form.twig" %}
{% endblock %}