{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer hinzufügen - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
    {% include "user_form.twig" %}
{% endblock %}