{% extends "base.html" %}

{% block content %}
    <section>
        <article>
            <h2>Willkommen auf Ihrem Profil</h2>
            <ul>
                <li>
                    <a href="settings/username">Benutzernamen ändern</a>
                </li>
                <li>
                    <a href="settings/password">Passwort ändern</a>
                </li>
                <li>
                    <a href="settings/email">E-Mail ändern</a>
                </li>						
                <li>
                    <a href="logout">Ausloggen</a>
                </li>							
            </ul>
            <a href="../">Zurück zur Übersicht</a>
        </article>
    </section>	
{% endblock %}