{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Profil체bersicht - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-left">
    {% include "sidebar.twig" %}
    <div class="col-sm-7 col-sm-offset-1">
        <div class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                <i class="mdi-action-view-list"></i> Menu
            </button>
        </div>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0)">
                    <span class="mdi-action-settings"></span>
                </a>
            </li>
            <li class="active">Profil</li>
        </ol>
        <section class="well">
            <h4>
                <i class="mdi-action-favorite-outline"></i>
                <strong>Wilkommen auf Ihrem Profil!</strong>
            </h4>
            <ul>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('changeUsername') }}">Benutzernamen 채ndern</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('changePassword') }}">Passwort 채ndern</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('changeEmail') }}">E-Mail 채ndern</a>
                    </p>  
                </li>                
            </ul>
        </section>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}
